<mat-horizontal-stepper #stepper class="stepper-container">
  <mat-step [stepControl]="companyDetailsForm" errorMessage="Filling in company details is mandatory.">
    <form class="stepper-container__stepper-one" [formGroup]="companyDetailsForm">
      <ng-template matStepLabel>Company Details</ng-template>

      <div class="form">
        <div class="form__left-column">
          <mat-form-field  class="stepper-container__stepper-one--input">
            <mat-label>Company legal name</mat-label>
            <input matInput (input)="inputChangeCompanyDetailsForm($event, 'companyLegalName')" formControlName="companyLegalName" required>
          </mat-form-field>
          <mat-error *ngIf="companyLegalName.errors?.invalidCharacters">
            Invalid characters used, such as !, #, <> etc.
          </mat-error>

          <mat-form-field class="stepper-container__stepper-one--input" appearance="fill">
            <mat-label>Company type</mat-label>
            <mat-select formControlName="companyType" single (selectionChange)="inputChangeCompanyDetailsForm($event, 'companyType')">
              <mat-option *ngFor="let companyType of companyTypes" [value]="companyType">
                {{ companyType }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="stepper-container__stepper-one--input">
            <mat-label>Phone number</mat-label>
            <input matInput (input)="inputChangeCompanyDetailsForm($event, 'phoneNumber')" formControlName="phoneNumber" required>
          </mat-form-field>
          <mat-error *ngIf="phoneNumber.errors?.invalidCharacters">
            Invalid characters used, such as !, #, <> etc.
          </mat-error>
          <mat-error *ngIf="phoneNumber.errors?.invalidPhoneNumber && phoneNumber.touched">
            Invalid phone number
          </mat-error>
          <mat-error *ngIf="phoneNumber.touched && phoneNumber.errors?.onlyDigitsError">
            Please use only digits
          </mat-error>

          <mat-form-field class="stepper-container__stepper-one--input">
            <mat-label>VAT number</mat-label>
            <input matInput (input)="inputChangeCompanyDetailsForm($event, 'vatNumber')" formControlName="vatNumber" required>
          </mat-form-field>
          <mat-error *ngIf="vatNumber.errors?.invalidCharacters">
            Invalid characters used, such as !, #, <> etc.
          </mat-error>
          <mat-error *ngIf="vatNumber.touched && vatNumber.errors?.onlyDigitsError">
            Please use only digits
          </mat-error>
          <mat-error *ngIf="vatNumber.touched && vatNumber.errors?.invalidVatNumber">
            Invalid VAT number.
          </mat-error>
        </div>

        <div class="form__right-column">
          <div class="address-section">
            <div>
              <p>Address</p>
              <mat-icon
                *ngIf="fullAddress.value"
                (click)="onAddressSelect()"
                aria-hidden="false" aria-label="Edit address icon">edit</mat-icon>
            </div>

            <div *ngIf="!city.value" class="select-origin-address-btn">
              <button mat-raised-button color="primary" (click)="onAddressSelect()">Select address</button>
            </div>
          </div>

          <div *ngIf="city.value" class="address-input-fields">
            <div>
              <mat-form-field class="stepper-container__stepper-one--input">
                <mat-label>City</mat-label>
                <input matInput [value]="city.value ? city.value : null">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="stepper-container__stepper-one--input">
                <mat-label>Country</mat-label>
                <input matInput [value]="country.value ? country.value : null">
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
      <div class="stepper-container__stepper-one--action-btn">
        <button mat-button matStepperNext
          [disabled]="hasCompanyDetailsFormErrors() ? 'true' : 'false'">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="companyType.value !== 'Shipper'" class="stepper-container__stepper-two" [stepControl]="equipmentInvetoryForm" errorMessage="Filling in equipment inventary is mandatory.">
    <form [formGroup]="equipmentInvetoryForm">
      <ng-template matStepLabel>Equipment inventory</ng-template>
      <div class="stepper-container__stepper-two--header">
        <div class="stepper-container__stepper-two--header-left">
          <p>Tractors</p>
          <p>Quantity</p>
        </div>

        <div class="stepper-container__stepper-two--header-right">
          <p>Trailers</p>
          <p>Quantity</p>
        </div>
      </div>

      <div class="stepper-container__stepper-two--body">
        <div class="stepper-container__stepper-two--body-left">
          <div class="eq-inv-input-field">
            <p>Standard tractor unit</p>
            <div class="equipment-input-wrapper">
              <mat-form-field>
                <mat-label>0</mat-label>
                <input matInput formControlName="standardTractorUnits" required>
              </mat-form-field>
              <mat-error *ngIf="standardTractorUnits.errors?.invalidCharacters">
                Invalid characters used, such as !, #, <> etc.
              </mat-error>
              <mat-error *ngIf="standardTractorUnits.touched && standardTractorUnits.errors?.required">
                Information required
              </mat-error>
            </div>
          </div>

          <div class="eq-inv-input-field">
            <p>7.5T truck</p>
            <div class="equipment-input-wrapper">
              <mat-form-field>
                <mat-label>0</mat-label>
                <input matInput formControlName="sevenHalfTrucks" required>
              </mat-form-field>
              <mat-error *ngIf="sevenHalfTrucks.errors?.invalidCharacters">
                Invalid characters used, such as !, #, <> etc.
              </mat-error>
              <mat-error *ngIf="sevenHalfTrucks.touched &&  sevenHalfTrucks.errors?.required">
                Information required
              </mat-error>
            </div>
          </div>

          <div class="eq-inv-input-field">
            <p>3.5T van with tailift</p>
            <div class="equipment-input-wrapper">
              <mat-form-field>
                <mat-label>0</mat-label>
                <input matInput formControlName="threeHalfTailiftVans" required>
              </mat-form-field>
              <mat-error *ngIf="threeHalfTailiftVans.errors?.invalidCharacters">
                Invalid characters used, such as !, #, <> etc.
              </mat-error>
              <mat-error *ngIf="threeHalfTailiftVans.touched &&  threeHalfTailiftVans.errors?.required">
                Information required
              </mat-error>
            </div>
          </div>

          <div class="eq-inv-input-field">
            <p>3.5T van without tailift</p>
            <div class="equipment-input-wrapper">
              <mat-form-field>
                <mat-label>0</mat-label>
                <input matInput formControlName="threeHalfVans" required>
              </mat-form-field>
              <mat-error *ngIf="threeHalfVans.errors?.invalidCharacters">
                Invalid characters used, such as !, #, <> etc.
              </mat-error>
              <mat-error *ngIf="threeHalfVans.touched &&  threeHalfVans.errors?.required">
                Information required
              </mat-error>
            </div>
          </div>
        </div>

        <div class="stepper-container__stepper-two--body-right">
          <div class="eq-inv-input-field">
            <p>Box trailer</p>
            <div class="equipment-input-wrapper">
              <mat-form-field>
                <mat-label>0</mat-label>
                <input matInput formControlName="boxTrailers" required>
              </mat-form-field>
              <mat-error *ngIf="boxTrailers.errors?.invalidCharacters">
                Invalid characters used, such as !, #, <> etc.
              </mat-error>
              <mat-error *ngIf="boxTrailers.touched &&  boxTrailers.errors?.required">
                Information required
              </mat-error>
            </div>
          </div>

          <div class="eq-inv-input-field">
            <p>Curtain-sided trailer</p>
            <div class="equipment-input-wrapper">
              <mat-form-field>
                <mat-label>0</mat-label>
                <input matInput formControlName="curtainSidedTrailers" required>
              </mat-form-field>
              <mat-error *ngIf="curtainSidedTrailers.errors?.invalidCharacters">
                Invalid characters used, such as !, #, <> etc.
              </mat-error>
              <mat-error *ngIf="curtainSidedTrailers.touched &&  curtainSidedTrailers.errors?.required">
                Information required
              </mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="stepper-action-btns">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext
          [disabled]="hasEquipmentInvetoryFormErrors() ? 'true' : 'false'">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="companyType.value !== 'Shipper'">

    <form class="insurance-form">
      <ng-template matStepLabel>Insurance documents</ng-template>
      <div class="insurance-form__header">
        <span>
          <p>Requirements</p>
          <p>Your company must meet these insurance requirements:</p>
          <ul>
            <li>
              Cargo Legal Liability: 0.00 SDR/kg
            </li>
          </ul>
        </span>
        <span>
          <p>Certificates of Insurance</p>
          <p>By proceeding further, you confirm that you meet or exceed the above insurance requirements</p>
        </span>
      </div>

      <div class="insurance-form__body">
        <div class="uploaded-files-container">
          <span class="uploaded-files-container__header" [ngClass]="insuranceDocuments.length === 1 ? 'color-green' : null">
            {{ insuranceDocuments.length }} of 1 files uploaded
          </span>
          <div class="uploaded-files-container__item" *ngFor="let file of insuranceDocuments; let i=index">
            <span>
              <p> {{ (insuranceDocuments[i].name.length > 23)? (insuranceDocuments[i].name | slice:0:25)+'..':(insuranceDocuments[i].name) }} </p>
              <button (click)="deleteUploadedFile(i)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </div>
        </div>
        <input style="display: none" type="file" (change)="onInsuranceFilesChanged($event)" #fileInput>
        <button mat-raised-button color="primary"  [ngClass]="insuranceDocuments.length === 1 ? 'hide' : null" (click)="fileInput.click()">Select File</button>
      </div>

      <div class="stepper-action-btns">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext
          [disabled]="haveInsuranceDocumentsErrors() ? 'true' : 'false'">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="companyType.value !== 'Shipper'">
    <form [formGroup]="equipmentInvetoryForm" class="operating-license-form">
      <ng-template matStepLabel>Operating Licence</ng-template>

      <div class="insurance-form__header">
        <span>
          <p>Requirements</p>
          <p>Your company must meet these insurance requirements:</p>
          <ul>
            <li>
              Valid Operating Licence
            </li>
          </ul>
        </span>
      </div>

      <div class="operating-license-form__body">

        <div class="operating-license-container">
          <span class="operating-license-container__header" [ngClass]="operatingLicense.length === 1 ? 'color-green' : null">
            {{ operatingLicense.length }} of 1 files uploaded
          </span>
          <div class="operating-license-container__item" *ngFor="let file of operatingLicense; let i=index">
            <span>
              <p> {{ operatingLicense[i].name }} </p>
              <button (click)="deleteOperatingLicenseFile(i)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </div>
        </div>

        <input style="display: none" type="file" (change)="onOperatingLicenseFileChanged($event)" #operatingLicenseFileInput>
        <button mat-raised-button color="primary"  [ngClass]="operatingLicense.length === 1 ? 'hide' : null" (click)="operatingLicenseFileInput.click()">Select File</button>

      </div>

      <div class="stepper-action-btns">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext
          [disabled]="haveOperatingLicenseErrors() ? 'true' : 'false'">Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="paymentDetailsForm">
    <form [formGroup]="paymentDetailsForm" class="payment-form">
      <ng-template matStepLabel>Payment</ng-template>

      <p class="payment-input-field">Add the account where you’d like to receive direct-deposit payments:</p>
      <mat-form-field class="payment-input-field">
        <mat-label>Account holder name</mat-label>
        <input matInput formControlName="accountHolderName" required (input)="inputChangePaymentDetailsForm($event, 'accountHolderName')">
      </mat-form-field>
      <mat-error *ngIf="accountHolderName.errors?.invalidCharacters">
        Invalid characters used, such as !, #, <> etc.
      </mat-error>

      <mat-form-field class="payment-input-field">
        <mat-label>8 or 11-character Swift code/BIC</mat-label>
        <input matInput formControlName="swiftBicCode" required (input)="inputChangePaymentDetailsForm($event, 'swiftBicCode')">
      </mat-form-field>
      <mat-error *ngIf="swiftBicCode.errors?.invalidCharacters">
        Invalid characters used, such as !, #, <> etc.
      </mat-error>

      <mat-form-field class="payment-input-field">
        <mat-label>IBAN number</mat-label>
        <input matInput formControlName="ibanNumber" required (input)="inputChangePaymentDetailsForm($event, 'ibanNumber')">
      </mat-form-field>
      <mat-error *ngIf="ibanNumber.errors?.invalidCharacters">
        Invalid characters used, such as !, #, <> etc.
      </mat-error>
      <mat-error *ngIf="ibanNumber.errors?.iban">
        IBAN is invalid
      </mat-error>

      <div class="stepper-action-btns">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext
          [disabled]="hasPaymentDetailsFormErrors() ? 'true' : 'false'">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step class="stepper-container__stepper-five">
    <ng-template matStepLabel>Done</ng-template>
    <div class="done-container">
      <p *ngIf="isReadyForSubmit()"> Now you are ready to create you company profile. </p>
      <p *ngIf="!isReadyForSubmit()"> Please fill in all the fields. </p>
      <button  [disabled]="!isReadyForSubmit()" mat-raised-button color="primary" (click)="submitProfile()">Create company profile</button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<ng-template #dialog></ng-template>