<div class="main">
    <div>
        <div class="header">
            <p>Create your account</p>
        </div>
        
        <form [formGroup]="registerForm" class="login-form">    
             <mat-form-field class="example-full-width login-form__input-field">
                 <mat-label>
                     Email address
                 </mat-label>
                 <input matInput type="email" [formControl]='emailAddress'>
                 <mat-error *ngIf="emailAddress.errors?.email && !emailAddress.errors?.required">
                     Please enter a valid email address
                 </mat-error>
                 <mat-error *ngIf="emailAddress.errors?.required && !emailAddress.errors?.email">
                     Email address is <strong>required</strong>
                 </mat-error>
                 <mat-error *ngIf="emailAddress.errors?.invalidCharacters">
                    Invalid characters used, such as !, #, <> etc.   
                </mat-error>
             </mat-form-field>
     
             <mat-form-field class="example-full-width login-form__input-field">
                 <mat-label>
                     Password
                 </mat-label>
                 <input matInput type="password" [formControl]="password">
                 <mat-error *ngIf="password.errors?.required">
                     Password is <strong>required</strong>
                 </mat-error>
                 <mat-error *ngIf="password.errors?.invalidCharacters">
                    Invalid characters used, such as !, #, <> etc.   
                </mat-error>
             </mat-form-field>
    
             <mat-form-field class="example-full-width login-form__input-field">
                <mat-label>
                    Re-enter password
                </mat-label>
                <input matInput type="password" [formControl]="repeatPassword">
                <mat-error *ngIf="repeatPassword.errors?.required">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="repeatPassword.errors?.invalidCharacters">
                    Invalid characters used, such as !, #, <> etc.   
                </mat-error>
                <mat-error *ngIf="repeatPassword.errors?.passwordsNotMatching">
                    Passwords does not match!
                </mat-error>
            </mat-form-field>
            <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                (reset)="handleReset()"
                (expire)="handleExpire()"
                (load)="handleLoad()"
                (success)="handleSuccess($event)"
                formControlName="recaptcha">
            </ngx-recaptcha2>
             <button mat-raised-button class="login-form__btn" color="primary" 
                [disabled]='emailAddress.errors
                            || password.errors
                            || repeatPassword.errors
                            || recaptcha.errors'
                (click)="submitForm()">Create your Freight Exchange Account</button>
         </form>
    </div>
 </div>
 <ng-template #dialog></ng-template>