.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}

.logo {
    color: #ffffff;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;
    p {
        margin-top: 12px;
    }
}

.actions-container {
    display: flex;
    flex-direction: row;
    margin-right: 100px;

    &__item {
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        font-family: Roboto,Helvetica Neue,sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin: 12px 0px 12px 30px;
    }
}