@import '../../../../styles.scss';


.main {
    width: 80vw;
    margin: auto;
    padding-top: 100px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div:nth-child(1) {
            font-weight: 700;
            font-size: large;
        }

        mat-icon {
            cursor: pointer;
            &:hover {
                transition: all 0.3s ease-in-out;
                transform: rotate3d(0, 0, 1, -360deg);
                color: $material-red;
            }
        }
        margin-bottom: 30px;
    }

    .work-opportunities {
        .work-opportunity {
            margin-bottom: 20px;
            
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                transition: all 0.3s ease 0s;
            }
        }
    }
}

.panel-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;

    .origin {
        display: flex;
        flex-direction: column;
        margin-right: 55px;
        &__name {
            font-weight: 700;
        }

        &__arrival {
            font-size: 12px;
        }
    }
}

.panel-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .distance {
        color: black;
        margin-top: 10px;
        font-weight: 400;
    }

    .equipment {
        display: flex;
        flex-direction: column;
        // margin-right: 80px;
        div:nth-child(1) {
            color: black;
            font-weight: 400;
        }
    }

    .price {
        margin-top: 10px;
        color: $money-green;
        font-weight: 700;
    }

    .action-btn {
        margin-top: 5px;
        
        button:nth-child(1) {
            margin-right: 10px;
        }

        button:hover {
            background-color: #ed594e;
            transition: all 0.3s ease 0s;
        }
    }

}

.cancelled-rejected {
    p {
        font-weight: 700;
        color: black;
        letter-spacing: 2px;
        font-size: 20px;
        padding-top: 5px;
    }
}

.cancelled-trip {
    background-color: $material-red;
}

.details {
    display: flex;
    flex-direction: row;

    .shipper-info {
        margin-right: 50px;
        div:nth-child(1) {
            font-weight: 600;
        }
    }

    .carrier-info {
        div:nth-child(1) {
            font-weight: 600;
        }
    }
}