$mat-primary-color: #3f51b5;
$white: #ffffff;
$material-red: #f44336;
$money-green:#118C4F;

body {
    margin: 0px;
    // margin-left: 70px;
    // margin-right: 70px;
    // margin-bottom: 100px;
    // height: 100vh;
    // width: 100vw;
    
    // background: rgb(238,174,202);
    // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(63,81,181,1) 100%);

    // background: rgb(238,174,202);
    // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(85,102,195,1) 100%);

    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(94,111,199,1) 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
