@import '../../../../styles.scss';

.dialog-header {
    display: flex;
    flex-direction: row;

    p {
        font-size: 20px;
        padding-top: 30px;
        padding-left: 38px;
        margin: auto;
    }

    mat-icon {
        margin: 7px 7px 0px 0px;
        cursor: pointer;

        &:hover {
            transition: all 0.2s ease-in-out;
            transform: rotate3d(0, 0, 1, -360deg);
            color: $material-red;
        }
    }
}

.dialog-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 250px;
    padding-top: 40px;

    button {
        margin-top: 17px;
        cursor: pointer;
    }
    
}

.create-btn-not-disabled {
    button:hover {
        color: $money-green;
    }
}

.create-btn-disabled {
    button:hover {
        cursor: not-allowed;
    }
}