$primary-color:#3f51b5;

.main {
    width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
}

.info {
    padding: 20px;
    &__first-row {
        p:nth-child(1) {
           font-size: 30px;
           color: $primary-color;
           font-weight: 700;
           margin-bottom: 15px;
        }
        p:nth-child(2) {
            font-size: 18px;
            margin-bottom: 50px;
        }
    }

    &__second-row {
        p {
            margin-bottom: 15px;
            font-size: 30px;
            color: $primary-color;
            font-weight: 700;
        }
    }
    border-bottom: 1px solid #E8E8E8;
}

.actions-container {
    padding: 20px;

    &__btns {
        padding: 20px;
        button {
            margin-right: 20px;
        }
    }
}