<div class="main">
    <div class="info">
        <span class="info__first-row">
            <p>
                Get started
            </p>
            <p>
                Register with Amazon to view and book spot work today! Ensure that you have the following information and all of the insurance coverages listed below.
            </p>
        </span>
        <span class="info__second-row">
            <p>
                Requirements
            </p>
            <ul>
                <li>
                    An active VAT number
                </li>
                <li>
                    All required insurance policies pertaining to your country of registration
                </li>
            </ul>
        </span>
    </div>
    <div class="actions-container">
        <div class="actions-container__text">
            Create a new account, or sign in to start using Freight Exchange
        </div>
        <div class="actions-container__btns">
            <button mat-raised-button color="primary" (click)="redirectToRegister()">Create a Freight Exchange acccount</button>
            <button mat-raised-button color="primary" (click)="redirectToLogin()">Sign in</button>
        </div>
    </div>
</div>
