@import '../../../styles.scss';

.example-container {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}
  
.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}
 
.side-navbar {
    background-color: $mat-primary-color;

    &__option {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            color: $white;
        }
    }
}

.sidenav-content {
    height: 100vh;
}

#company-name {
    font-weight: 600;
    font-size: 18px;
}

#logout-btn {
    &:hover {
        color: #f44336;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all 0.3s ease 0s;
    }
}