div {
    width: 500px;
    margin: auto;
    margin-top: 270px;
    
    p {
        margin: auto;
        width: 294px;
        font-weight: 700;
        color: white;
        font-size: 30px;
    }
}

